/.idea/vcs.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/python_roadmap_projects.iml
/storage.json
/text.txt
/.idea/workspace.xml
/.idea/misc.xml
